[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
requests = "*"
redis = "*"
httpx = "*"
fastapi = "*"
email-validator = "*"
httptools = "*"
orjson = "*"
pydantic-settings = "*"
ujson = "*"
uvloop = "*"
watchfiles = "*"
websockets = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
