annotated-types
anyio
certifi
charset-normalizer
click
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
orjson
pydantic
pydantic-extra-types
python-dotenv
pydantic-settings
pydantic_core
python-multipart
PyYAML
redis
requests
sniffio
starlette
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets
